body{
    background-image: url("http://i.imgur.com/Nqy9eLb.jpg");
}

#Header h1{
    font-style: italic;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

h1{
    margin: 0em auto 0.2em auto;
    font-family: 'VT323', monospace;
    font-style: italic;
    letter-spacing: 8px;
    text-align: center;
    color: #F1F0FF;
}

h2{
    margin: 0em auto 0em auto;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: 0em;
}
#Container{
    position: relative;
    width: 1366px;
    height: auto;
    margin: 2em auto 2em auto;
}

#Header{
    height: 10em;
    background: linear-gradient(90deg, #8C489F, #2F1B47); .

}

#Switch{
    height: 20em;
    background-color: bisque;
    background: linear-gradient(-90deg, #8C489F, #2F1B47);
    padding-left: 15%;
    padding-right:15%;
}

#Gaming{
    width: 683px;
    height: 25em;
    float: left;
    background-color: cornsilk;
}

#Enthusiast{
    width: 683px;
    height: 25em;
    float: right;
    background-color: burlywood;
}

#Best{
    height: 20em;
    background-color: darkkhaki;
    clear: both;
}

@media screen and (max-width: 1365px){
    #Container{
        width: 100%;
    }

    #Gaming{
        width: 50%;
    }

    #Enthusiast{
        width: 50%;
    }
}

p{
    font-family: 'VT323', monospace;
    text-align: center;
    color: #F1F0FF;
    font-size: 20px;
    margin-top: 0.5em;
}

#Brown{
    display:block;
    margin:auto;
    height: 50%;
}
